<!DOCTYPE html>
<html>
   <head>
      <title>My Simple Website</title>
   </head>
   <body>
      <header>
         <h1>Bienvenue dans une Pause, une Citation!</h1>
      </header>
      <main>
         <section>
            <h2>Concept</h2>
            <p>
            Ce blog a pour but de présenter diverses citations.
            </p>
         </section>
         <section>
            <h2>My Blog</h2>
            <p>
               This is a paragraph about my blog.
            </p>
            <ul>
               <li>
                  <a href="blog-post-1.html">My First Blog Post</a>
               </li>
               <li>
                  <a href="blog-post-2.html">My Second Blog Post</a>
               </li>
               <li>
                  <a href="blog-post-3.html">My Third Blog Post</a>
               </li>
            </ul>
         </section>
      </main>
      <footer>
         <p>
            &copy; 2023 My Simple Website. All rights reserved.
         </p>
      </footer>
   </body>
</html>